numpy~=1.20.3
pandas~=1.2.4
scipy~=1.6.3
tqdm~=4.60.0
scikit-learn~=0.24.2
seaborn~=0.11.1
matplotlib~=3.4.2
py~=1.10.0
Pillow~=8.2.0
pip~=21.1.1
attrs~=21.2.0
parso~=0.8.2
jedi~=0.18.0
pytz~=2021.1
pytest~=6.2.4
setuptools~=56.2.0
joblib~=1.0.1
python-dateutil~=2.8.1
wcwidth~=0.2.5
pluggy~=0.13.1
iniconfig~=1.1.1
pexpect~=4.8.0
Pygments~=2.9.0
traitlets~=5.0.5
decorator~=5.0.8
packaging~=20.9
backcall~=0.2.0
pickleshare~=0.7.5
ptyprocess~=0.7.0
cycler~=0.10.0
threadpoolctl~=2.1.0
six~=1.16.0
pyparsing~=2.4.7
kiwisolver~=1.3.1
zipp~=3.4.1
ray~=1.8.0
click~=8.0.1
PyYAML~=5.4.1
networkx~=2.6.3
tensorly~=0.6.0
anndata~=0.7.6
scanpy~=1.7.2
requests~=2.26.0